@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --french-gray: #ced5dc;
  --eerie-black: #1a222a;
  --lapiz-lazuli: #135e8c;
  --davys-gray: #515151;
  --russian-violet: #321558;
  --night: #0d0d0d;
  --argentinian-blue: #48b9ff;
  --indigo-dye: #00447c;
  --rich-black: #02111B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --french-gray: #ced5dc;
  }
}

body {
  color: var(--french-gray);
}

.bg-french-gray {
  background-color: var(--french-gray);
}

.bg-lapiz-lazuli {
  background-color: var(--lapiz-lazuli);
}

.bg-rich-black {
  background-color: var(--rich-black);
}

.banner-gradient {
  background: linear-gradient(180deg,rgba(2, 17, 27, 0) 0%, rgba(2, 17, 27, 1) 100%);
}

.text-lapiz-lazuli {
  color: var(--lapiz-lazuli);
}

.text-eerie-black {
  color: var(--eerie-black);
}

.text-davys-gray {
  color: var(--davys-gray);
}

.border-french-gray {
  border-color: var(--french-gray);
}


/* Carruseles */
.carousel {
  display: flex;
  width: max-content;
  animation: scroll-left 10s linear infinite;
  animation-play-state: running;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel.paused  {
  animation-play-state: paused; /* Pause carousel when user hovers */
}